<div class="container-fluid" id="top_page">

	<!-- http://stackoverflow.com/questions/20674220/how-to-call-service-method-from-ng-change-of-select-in-angularjs -->
	<!-- http://stackoverflow.com/questions/23568180/how-to-ng-translate-inside-select-box-option-in-angularjs -->
	<div class="jumbotron">
	    <div class="container-fluid">
	    	<h2 translate="GEOLOCATION"></h2>
		    <div class="btn-group nullable form-group">
		      <select ng-model="vm.dropdown.myChoice" class="form-control input-lg"
		      		ng-change="vm.dropdown.loadMarkers(vm.dropdown.myChoice)"
		      		ng-options="data.tranlsation_key | translate for data in vm.dropdown.data track by data.key">
		   		<option value="" translate="CHOOSE_CATEGORY"></option>
			  </select>
		    </div>
		</div>
	</div>
	<div class="row" style="font-size: 24px">
		{{ 'MARKER_HEADER' | translate:{ num_marker: vm.myMarkers.length, total_markers: vm.totalMarkers } }}
	</div>
	<!--
	<div class="row" id="map">
		<div ui-map="model.myMap" ui-options="mapOptions" class="map-canvas"
		  	ui-event="{'map-idle' : 'onMapIdle()'}"></div>
	</div>
	-->
	<div class="row" id="map">
		<div ui-map="vm.model.myMap" ui-options="vm.mapOptions" class="map-canvas"></div>
	</div>
</div>
