<div class="container-fluid">
	<div class="row">
		<h1>{{ 'OTHERVENUE' | translate }}</h1>
		<h3 translate="NUMOTHERVENUE" translate-values="{ result_count: totalNumber }"></h3>

	</div>
	<!-- create button group to filter by category -->
	<div ng-include src="'partials/includes/category_buttons.html'"></div>

	<div class="row">
		<!-- top pagination -->
		<pagination boundary-links="true" total-items="totalNumber"  max-size="maxSize" ng-model="currentPage" items-per-page="itemsPerPage"
		rotate="false" class="pagination-sm" first-text="{{ 'FIRST' | translate }}" last-text="{{ 'LAST' | translate }}" previous-text="{{ 'PREVIOUS' | translate }}" next-text="{{ 'NEXT' | translate }}"></pagination>
	</div>

	<div class="row">
		<div  ng-include src="'partials/includes/items_en.html'"></div>
	</div>

	<div class="row">
		<!-- bottom pagination -->
		<pagination boundary-links="true" total-items="totalNumber"  max-size="maxSize" ng-model="currentPage" items-per-page="itemsPerPage"
		rotate="false" class="pagination-sm" first-text="{{ 'FIRST' | translate }}" last-text="{{ 'LAST' | translate }}" previous-text="{{ 'PREVIOUS' | translate }}" next-text="{{ 'NEXT' | translate }}"></pagination>
	</div>
</div>