<!doctype html>
<html lang="en" ng-app="hkAccessibleApp" >
<head>
  <meta charset="utf-8">
  <title>Hong Kong Accessible Facilites</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" 
          data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="attractions">{{ 'BRAND' | translate }}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="HomeCtrl">
        <ul class="nav navbar-nav pull-left">
          <li ng-class="{ active : isActive('/attractions') }">
            <a ui-sref='attractions' >{{ 'ATTRACTION' | translate }}</a>
          </li>
          <li ng-class="{ active : isActive('/shopping_dining') }">
            <a ui-sref='shopping_dining'>{{ 'SHOPPING' | translate }}</a>
          </li>
          <li ng-class="{ active : isActive('/hotels') }">
            <a ui-sref='hotels'>{{ 'HOTEL' | translate }}</a>
          </li>
          <li ng-class="{ active : isActive('/other_venues') }">
            <a ui-sref='other_venues'>{{ 'OTHERVENUE' | translate }}</a>
          </li>
          <li ng-class="{ active : isActive('/geolocation') }">
            <a ui-sref='geolocation'>{{ 'MAP' | translate }}</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <p class="navbar-text" translate="CHANGE_LANG"></p>
            <button type="button" class="btn btn-primary navbar-btn" translate="EN_LANG" ng-click="changeLanguage('en')"></button>
            <button type="button" class="btn btn-primary navbar-btn" translate="TC_LANG" ng-click="changeLanguage('zh_hk')"></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--
  <div class="container" ng-view></div>
-->
<div class="container" ui-view></div>

  <div class="container-fluid">
    <div class="row left-ident">{{ 'VERSION' | translate }}<span app-version></span></div>
    <div class="row left-ident">{{ 'AUTHOR' | translate }}<span app-author></span></div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <link rel="stylesheet" href="../bower_components/isteven-angular-multiselect/angular-multi-select.css">

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script> 
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="../bower_components/isteven-angular-multiselect/angular-multi-select.js"></script>
  <script type="text/javascript" src="../bower_components/angular-translate/angular-translate.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-ui-utils/ui-utils.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-ui-map/ui-map.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>
  <script type="text/javascript" src="../bower_components/ngstorage/ngStorage.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-dialog-service/dialogs.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="../bower_components/angular-underscore/angular-underscore.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
  </script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
